/* General */

body {
  background-color: #f9f9f9;
  color: #222;
  margin: 1em auto 1em;
  width: 980px;
}

/* Core Layout */

#header {
  background: url('../images/elements/page_top.png') no-repeat bottom;
  height: 40px;
  overflow: hidden;
  padding: 0 20px 20px;
}

  #header .logo {
    font-size: 1.4em;
    float: left;
  }
  
  #header ul.nav {
    float: right;
    list-style-type: none;
    margin: 10px 0 0 0;
  }
  
    #header .nav li {
      display: inline;
      font-size: 1.2em;
      padding-left: 30px;
    }

      #header .nav a {
        color: #666;
      }

      #header .nav a:hover {
        color: #222;
      }

#page {
  background: url('../images/elements/page_middle.png') repeat-y;
  color: #fff;
  padding: 10px 30px;
  overflow: hidden;
  padding-bottom: 0;
}
  
  .section {
    float: left;
    padding: 10px 20px 0 10px;
    text-align: left;
    font-size: 1.2em;
  }
  
    .first {
      width: 330px;
    }
  
    #page .section .quote {
      line-height: 1.1em;
      font-size: 0.8em;
      padding: 0;
      text-align: justify;
      clear:left;
    }
  
    #page .section #rails {
      float: left;
      padding: 10px;
      padding-left: 0px;
    }
  
    #page .section a {
      color: #fff;
    }
    
      #page .section a:hover {
        color: #999;
      }


#footer {
  background: url('../images/elements/page_bottom.png') no-repeat top;
  font-size: 0.9em;
  text-align: right;
  padding: 40px 30px 0;
}

  #footer .license {
    float: left;
  }
  
  #footer a {
    color: #666;
  }
  
    #footer a:hover {
      color: #999;
    }

/* Showcase */

#showcase {
  background: #9c1421 url('../images/elements/showcase.png') no-repeat;
  color: #222;
  height: 350px;
  overflow: hidden;
  margin-bottom: 0px;
}

  #showcase a {
    color: #222;
  }

  #showcase a:hover {
    color: #666;
  }

  #showcase .item {
    height: 140px;
    padding: 30px;
  }

  #showcase h1 {
    padding: 30px;
  }
  
  #showcase ul.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.4em;
    float: right;
    width: 250px;
  }
    
    #showcase ul.nav li {
      padding: 20px;
      margin: 0;
      background: #fff url('../images/buttons/showcase_link.jpg') repeat-y;
      height: 28px;
    }
    
    #showcase ul.nav li#selected {
      background: none;
      font-weight: bold;
    }
    
    #showcase ul.nav li#last {
      height: 29px;
      background: #fff url('../images/buttons/showcase_link_last.jpg') no-repeat bottom right;
    }
    
    #showcase img#download_button {
      float: left;
      clear: right;
      margin-top: -70px;
      padding-left: 10px;
    }


/* Download */

#download {
  border: 1px solid #ccc;
  clear: both;
  padding: 1em;
  text-align: center;
}

  #download .inactive {
    display: block;
    font-size: 1.4em;
    color: #999;
    text-decoration: none;
  }
  
  #download .note {
    font-size: 0.9em;
    color: #999;
  }
